
<ion-header translucent>
  <ion-toolbar color="pink">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab2" color="dark"></ion-back-button>
    </ion-buttons>
    <ion-title color="dark">ALPHABETS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">alphabets</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <div id="container">
      <ion-card>
        <img src="/assets/alph/a.jpg" />
        <ion-card-content>
          <ion-card-title color="pink"> A </ion-card-title>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <img src="/assets/alph/c.jpg" />
        <ion-card-content>
          <ion-card-title color="pink"> C </ion-card-title>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <img src="/assets/alph/e.jpg" />
        <ion-card-content>
          <ion-card-title color="pink"> E </ion-card-title>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <img src="/assets/alph/g.jpg" />
        <ion-card-content>
          <ion-card-title color="pink"> G </ion-card-title>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <img src="/assets/alph/i.jpg" />
        <ion-card-content>
          <ion-card-title color="pink"> I </ion-card-title>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <img src="/assets/alph/k.jpg" />
        <ion-card-content>
          <ion-card-title color="pink"> K </ion-card-title>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <img src="/assets/alph/m.jpg" />
        <ion-card-content>
          <ion-card-title color="pink"> M </ion-card-title>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <img src="/assets/alph/o.jpg" />
        <ion-card-content>
          <ion-card-title color="pink"> O </ion-card-title>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <img src="/assets/alph/q.jpg" />
        <ion-card-content>
          <ion-card-title color="pink"> Q </ion-card-title>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <img src="/assets/alph/s.jpg" />
        <ion-card-content>
          <ion-card-title color="pink"> S </ion-card-title>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <img src="/assets/alph/u.jpg" />
        <ion-card-content>
          <ion-card-title color="pink"> U </ion-card-title>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <img src="/assets/alph/w.jpg" />
        <ion-card-content>
          <ion-card-title color="pink"> W </ion-card-title>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <img src="/assets/alph/y.jpg" />
        <ion-card-content>
          <ion-card-title color="pink"> Y </ion-card-title>
        </ion-card-content>
      </ion-card>
  
      <ion-card>
        <img src="/assets/alph/b.jpg" />
        <ion-card-content>
          <ion-card-title color="pink"> B </ion-card-title>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <img src="/assets/alph/d.jpg" />
        <ion-card-content>
          <ion-card-title color="pink"> D </ion-card-title>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <img src="/assets/alph/f.jpg" />
        <ion-card-content>
          <ion-card-title color="pink"> F </ion-card-title>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <img src="/assets/alph/h.jpg" />
        <ion-card-content>
          <ion-card-title color="pink"> H </ion-card-title>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <img src="/assets/alph/j.jpg" />
        <ion-card-content>
          <ion-card-title color="pink"> J </ion-card-title>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <img src="/assets/alph/l.jpg" />
        <ion-card-content>
          <ion-card-title color="pink"> L </ion-card-title>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <img src="/assets/alph/n.jpg" />
        <ion-card-content>
          <ion-card-title color="pink"> N </ion-card-title>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <img src="/assets/alph/p.jpg" />
        <ion-card-content>
          <ion-card-title color="pink"> P </ion-card-title>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <img src="/assets/alph/r.jpg" />
        <ion-card-content>
          <ion-card-title color="pink"> R </ion-card-title>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <img src="/assets/alph/t.jpg" />
        <ion-card-content>
          <ion-card-title color="pink"> T </ion-card-title>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <img src="/assets/alph/v.jpg" />
        <ion-card-content>
          <ion-card-title color="pink"> V </ion-card-title>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <img src="/assets/alph/x.jpg" />
        <ion-card-content>
          <ion-card-title color="pink"> X </ion-card-title>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <img src="/assets/alph/z.jpg" />
        <ion-card-content>
          <ion-card-title color="pink"> Z </ion-card-title>
        </ion-card-content>
      </ion-card>
    </div>
  </ion-content>
  
</ion-content>
