.leaderboard-page {
    .background {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url('https://i.pinimg.com/736x/fb/05/ee/fb05ee370f252782279b0bb2c581c0aa--a-color-margaritas.jpg'); 
      background-size: cover;
      background-repeat: no-repeat;
    //   opacity: 0.2; 
    //   z-index: -1; 
    }
  
    .leaderboard-list {
      padding: 20px;
      background-color: rgba(225, 126, 126, 0.8); 
      border-radius: 20px;
      margin-top: 120px;
      margin-left: 100px;
      margin-right: 20px;
      margin-bottom: 70px;
    
    }
    
      .leaderboard-header {
        ion-toolbar {
          background-color: #3880ff; /* Background color of the header */
          height: 150px; /* Adjust the height as needed */
          position: relative;
          overflow: hidden;
        }
      
        .header-shape {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: #3880ff; /* Background color of the shape, same as header */
          clip-path: polygon(0% 100%, 50% 0%, 100% 100%); /* Create a half-crescent shape */
        }
      
        ion-title {
          color: white; /* Text color of the title */
          z-index: 1; /* Ensure title is above the shape */
        }
      }
      
    }
    .leaderboard-item {
      --background: none;
      --border-style: none;
      --padding-start: 0;
  
      ion-avatar {
        --border-radius: 50%;
      }
  
      ion-label {
        font-size: 20px;
      }
  
      ion-badge {
        font-size: 18px;
        background-color: rgb(51, 49, 49);
      }
    }
  
    
  