.leaderboard-page {
    .background {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      background-image: url('../../assets/images/bg.png'); 
      background-size: cover;
      background-repeat: no-repeat;
    //   opacity: 0.2; 
      z-index: 1; 
    }
  
    .leaderboard-list {
      padding: 20px;
      background-color: rgba(225, 126, 126, 0.8); 
      border-radius: 20px;
      height: 100%;
      // margin-left: 50%;
      width: 100%;
      // margin-top: 100px;
      // margin-left: 100px;
      // margin-right: 20px;
      // margin-bottom: 70px;
      display: flex;
      flex-direction: column;
      padding-top: 120px;
      margin-left: 50px;
      margin-right: 100px;
      z-index: -1;
    }
    .curved-text {
      /* Set up your desired circular shape (e.g., width, height, border-radius) */
      /* ... */
      // height: max-content;
      width: 200px;
      height: 200px;
      margin-left: 35%;
      color: brown;
      z-index: 2;
      text-decoration: dotted;
      text-decoration-color: burlywood;
      margin-top: 100px;
      position: absolute;
      // display: flex;
      // flex-direction: row;
    }
    .curved-text span {
      transform-origin: 0 100px;
      transform: rotate(calc(var(index) * 10deg));
    }
    
      
      
        
      
       
      }
      
    
    .leaderboard-item {
      --background: none;
      --border-style: none;
      --padding-start: 0;
      margin-right: 50px;
      ion-avatar {
        --border-radius: 50%;
      }
  
      ion-label {
        font-size: 20px;
      }
  
      ion-badge {
        font-size: 18px;
        background-color: rgb(51, 49, 49);
      }
    }
  
    
  