<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>numbers</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">numbers</ion-title> -->
     
      <!-- <ion-nav [root]="component"></ion-nav> -->
      
    <!-- </ion-toolbar>
  </ion-header> -->
  

  <ion-header translucent>
    <ion-toolbar color="pink">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/" color="dark"></ion-back-button>
      </ion-buttons>
      <ion-title color="dark">NUMBERS</ion-title>
    </ion-toolbar>
  </ion-header>
  <h2>Learn Numbers</h2>
  <ion-card>
    
      <video width="330" height="240" controls>
        <source src="https://youtu.be/ZJEIKkPXirg">
      </video> 
    
  </ion-card>
  <ion-content class="ion-padding">
    <div id="container">
      <ion-card>
        <img src="/assets/num/0.jpg" />
        <ion-card-content>
          <ion-card-title color="pink">0</ion-card-title>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <img src="/assets/num/2.jpg" />
        <ion-card-content>
          <ion-card-title color="pink">2</ion-card-title>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <img src="/assets/num/4.jpg" />
        <ion-card-content>
          <ion-card-title color="pink">4</ion-card-title>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <img src="/assets/num/6.jpg" />
        <ion-card-content>
          <ion-card-title color="pink">6</ion-card-title>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <img src="/assets/num/8.jpg" />
        <ion-card-content>
          <ion-card-title color="pink">8</ion-card-title>
        </ion-card-content>
      </ion-card>
  
      <ion-card>
        <img src="/assets/num/1.jpg" />
        <ion-card-content>
          <ion-card-title color="pink">1</ion-card-title>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <img src="/assets/num/3.jpg" />
        <ion-card-content>
          <ion-card-title color="pink">3</ion-card-title>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <img src="/assets/num/5.jpg" />
        <ion-card-content>
          <ion-card-title color="pink">5</ion-card-title>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <img src="/assets/num/7.jpg" />
        <ion-card-content>
          <ion-card-title color="pink">7</ion-card-title>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <img src="/assets/num/9.jpg" />
        <ion-card-content>
          <ion-card-title color="pink">9</ion-card-title>
        </ion-card-content>
      </ion-card>
    </div>
  </ion-content>
  
  