#container {
    columns: 2;
    column-gap: 20px;
  
    ion-card {
      width: 100%;
      margin: 0 0 10px 0;
      break-inside: avoid;
      transition: transform 0.5s ease;
      transform: rotateY(360deg); 
    }
  }
  