
<ion-header translucent>
  <ion-toolbar color="pink">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab2" color="dark"></ion-back-button>
    </ion-buttons>
    <ion-title color="dark">SHAPES</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">shapes</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <div id="container">
      <ion-card>
        <img src="/assets/shapes/bulat.jpg" />
        <ion-card-content>
          <ion-card-title color="pink" style="font-size: 27px"
            >Circle</ion-card-title
          >
        </ion-card-content>
      </ion-card>
      <ion-card>
        <img src="/assets/shapes/tr.jpg" />
        <ion-card-content>
          <ion-card-title color="pink">Triangle</ion-card-title>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <img src="/assets/shapes/st.jpg" />
        <ion-card-content>
          <ion-card-title color="pink">Star</ion-card-title>
        </ion-card-content>
      </ion-card>
  
      <ion-card>
        <img src="/assets/shapes/sq.jpg" />
        <ion-card-content>
          <ion-card-title color="pink">Square</ion-card-title>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <img src="/assets/shapes/pt.jpg" />
        <ion-card-content>
          <ion-card-title color="pink">Pentagon</ion-card-title>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <img src="/assets/shapes/tp.jpg" />
        <ion-card-content>
          <ion-card-title color="pink">Trapezium</ion-card-title>
        </ion-card-content>
      </ion-card>
    </div>
  </ion-content>
